.register_container {
    background-color: rgb(134, 222, 252);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_form {
    min-height: 55vh;
    width: 25vw;
    background-color: rgb(181, 240, 194);
    border: 1px solid rgb(231, 231, 231);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    box-sizing: border-box;
}

.register_heading {
    color: rgb(79, 164, 197);
    margin-bottom: 20px;
}